* {
    margin: 0;
	padding: 0;
	font-size: 100%;
}

html {
    height: 100%;
}
body    {
    font-family: 'Roboto', sans-serif;
    background: #073642;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.post-body{
    margin: 5% 0 0 25%;
    
}

.card {
    background-color: #d8d2c1;
    border-radius: 15px;
    color: grey;
    margin: 5px;
}

.box {
    background-color: #faf3e0;
    color: #268ad2;
}

.greeting {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.is-4{
    color: #002b36;
}

.post-text {
    background-color: #faf3e0;
    color: #268ad2;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
.post-text::placeholder{
    background-color: #faf3e0;
    color: #268ad2;
}
.input-post {
    margin-bottom: 10px;
    /* padding: 30px 100px; */
    background-color: #d8d2c1;
    color: #268ad2;
    font-size: 1.5em;
    word-wrap: normal;
    border: 5px solid darkgrey;
    border-radius: 15px;
    
}
.input-post::placeholder {
    background-color: #d8d2c1;
    color: #268ad2;
    font-size: 1em; 
    padding: 10px;
}

.input-comment {
    text-align: left;
    /* padding: 30px 40%; */
    display: block;
    font-size: 1.2em;
    margin: 0;
    background-color: #faf3e0;
    color: #268ad2;
    word-wrap: normal;
    border-radius: 10px;
}
.input-comment::placeholder{
    color: #268ad2;
    background-color: #faf3e0;
    padding: 10px;
}

.comment-button{
    background: #268ad2;
    color: whitesmoke;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.post-button{
    background: #879494;
    color: whitesmoke;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    left: 360px;
}

.nav-link img {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding: 20px;
}

.media-left img {
    height:100%;
    width:100%;
}

.brand {
    font-size: 40px;
    color: white;
}

.profile-body {
    color: white;
}

.donate {
    font-size: 50px;
    text-align: center;
}

.donate-image{
    width: 700px;  
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stripe-button-el span {
    background: cornflowerblue !important;
    background-image:none !important;
    background-color: cornflowerblue !important;
    font-size: 30px !important;
    color: black !important;
}

.stripe-button-el {
    margin-left: 40% !important;
    margin-right: 40% !important;
    margin-bottom: 60px;
}

.title {
    color: black;
}

#main-body{
    background-image: url(https://images.unsplash.com/photo-1554177255-61502b352de3);
    /* background-image: url(/media/register.jpg) */
    /* https://images.unsplash.com/photo-1554177255-61502b352de3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80 */
}

.login-form{
    padding: 5px 5px 5px 25px;
}
.username-input, .password-input{
    margin: 5px;
}
#id_body{
    width: 400px;
	height: 100px;
    padding: 5px;
    margin: 20px
}

.fa-search{
    margin: 10px;
}
.profile-info{
    color: black;
    padding: 10px;
#news-container {
    margin: 50px 50px 0 50px;
}

.news {
    margin-left: 15vw;
    margin-right: 15vh;
}

.news-time {
    margin-bottom: 20px;

}

.article {
    margin-bottom: 70px;
    font-size: 20px;
}

.news-title {
    font-size: 60px;
    text-align: center;
    text-align: center;
}
#news-container a {
    color: white;
    font-size: 20px;
    text-align: center;
}

#news-container a:hover {
color: cyan;
}

.news-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card .inbox {
    display: block;
    text-align: center;
}
#user-profile-page {
    color: #268ad2;
    font-size: 2em;
}

.title{
    color: pink !important;
    bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}
.hero-body{
    
}