body    {
    font-family: 'Roboto', sans-serif;
    background: darkslategrey;
}

.card {
    background-color: darkorange;
}

.box {
    background-color: wheat;
}

.greeting {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-post {
    margin-bottom: 10px;
    padding: 30px 80px;
    background-color: silver;
    color: black;
    word-wrap: normal;
    border: 5px solid gray;
}

.input-comment {
    text-align: center;
    padding: 30px 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
    color: black;
    word-wrap: normal;
    border: 5px solid gray;
}

.button {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    background-color: white;
    padding: 10px;
}

.nav-link img {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding: 20px;
}

.media-left img {
    height:100%;
    width:100%;
}

.brand {
    font-size: 40px;
    color: white;
}