{% extends 'base.html'%}
{% block content %}
    {% if error  %}
        <p style="background-color: firebrick; color: white;">{{error}}</p>
    {% endif %}
    <section class="form-section">
        <form action="{% url 'login' %}" method="POST" class="artist-form">
        {% csrf_token %}
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" required maxlength="25" minlength="2">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" required maxlength="25" minlength="4">
        </p>
        <button type="submit">Login</button>
        </form>
    </section>
{% endblock %}
