{% load staticfiles %}
<!DOCTYPE html>
<html class="register" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 	Fonts 	-->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- 	Bulma 	-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <!-- 	our CSS 	-->
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <!-- JS files -->
  <script src="./devbook/static/scripts/filter.js"></script>
  <title>DevBook Registration</title>
</head>

<body id="main-body">
  <div class="bd-example is-paddingless">
    <nav class="navbar has-background-black ">
      <div class="navbar-brand is-spaced" style="font-size:40px">
        <a class="navbar-item" href="http://localhost:8000/">
          <i class="fas fa-laptop-code brand"></i>
          <h1 class="brand">DevBook</h1>
        </a>
      </div>
      <div id="navMenuColorlink-example" class="navbar-menu ">
        <div class="navbar-start ">
          <form action="{% url 'login' %}" method="POST" class="login-form">
            {% csrf_token %}
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <input class="username-input" placeholder="Username" type="text" name="username" required
                    maxlength="25" minlength="2">
                </div>
                <div class="level-item">
                  <input class="password-input" type="password" placeholder="Password" name="password" required
                    maxlength="25" minlength="4">
                </div>
                <div class="level-item">
                  <input class="button is-white is-rounded is-hovered is-small" type="submit" value="Log In">
                </div>
              </div>
              <div class="level-right">
                <div class="level-item is-pulled-right" style="margin: 30px">
                  <p>Forgot your password? Click <a href="http://localhost:8000/accounts/password_reset/"> here </a> to
                    reset it.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <div class="register-background">
    <section class="form-section register-img">
      <form action="{% url 'register' %}" method="POST" class="register-form">
        {% csrf_token %}
        <div class="columns">
          <div class="column is-one-fifth"></div>
          <div class="column is-one-third">
            <div class="field">
              <div class="control">
                <nav class="level">
                  <div class="level-left"></div>
                  <div class="level-right"></div>
                </nav>
                <nav class="level">
                  <div class="level-left">First Name</div>
                  <div class="level-right"><input name="first_name" class="input is-black" type="text"
                      placeholder="First Name"></div>
                </nav>
                <nav class="level">
                  <div class="level-left">Last Name</div>
                  <div class="level-right"><input name="last_name" class="input is-black" type="text"
                      placeholder="Last Name"></div>
                </nav>
                <nav class="level">
                  <div class="level-left">Username</div>
                  <div class="level-right"><input name="username" class="input is-black" type="text"
                      placeholder="Username"></div>
                </nav>
                <nav class="level">
                  <div class="level-left">Email</div>
                  <div class="level-right"><input name="email" class="input is-black" type="text" placeholder="Email">
                  </div>
                </nav>
                <nav class="level">
                  <div class="level-left">Password</div>
                  <div class="level-right"><input name="password" class="input is-black" type="password"
                      placeholder="Password"></div>
                </nav>
                <nav class="level">
                  <div class="level-left is-pulled-right">Confirm Password</div>
                  <div class="level-right"><input name="password2" class="input is-black" type="password"
                      placeholder="Confirm Password"></div>
                </nav>
                <br /> <br />
                <input class="button is-white is-rounded is-hovered is-pulled-right" type="submit" value="Register">
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  
</body>

</html>