{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<title>DevBook</title>
	</head>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <h1> DEVBOOK </h1>
      <ul class="navbar-nav mr-auto">
			<section class="form-section">
        <form action="{% url 'login' %}" method="POST" class="artist-form">
        {% csrf_token %}
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" required maxlength="25" minlength="2">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" required maxlength="25" minlength="4">
        </p>
        <button type="submit">Log In</button>
        <a href="">Forgot Account?</a>
        </form>
    </section>
      </ul>
    </div>
  </nav>
	<body>
    {% if error %}
    <p style="background-color: firebrick; color: white;">{{error}}</p>
    {% endif %}
{% if error  %}
        <p style="background-color: firebrick; color: white;">{{error}}</p>
    {% endif %}
    <section class="form-section" style="margin-top: 20%;">
    <h1> Create A New Account </h1>
    <h2> It's Fast and Friendly </h2>
        <form action="{% url 'register' %}" method="POST" class="artist-form">
            {% csrf_token %}
            <p>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" autofocus="" required maxlength="25" minlength="2">
            </p>
            <p>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" required maxlength="25" minlength="2">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" required maxlength="25" minlength="2">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" required maxlength="25" minlength="4">
            </p>
            <p>
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" required maxlength="25" minlength="4">
            </p>
            <p>
                <label for="birthday">Date of Birth</label>
                <input id="startdate" name="birthday" min="1905-01-01" max="2000-01-01" type="date">
            </p>
            <p>
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Other<br>
            </p>
            <button type="submit">Register</button>
        </form>
    </section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>

