{% extends 'base.html' %}
{% block content %}

<h1 class="about-title">Meet The Team</h1>
<img class="aboutus" src="https://imgur.com/dkfAKQn.jpg" alt="devbook team" width="600px" height="600px">


<table style="width:100%">
    <tr>
        <th>Lawrence Ma</th>
        <th>Christian Villa</th>
        <th>Alex Iliev</th>
    </tr>
    <tr>
        <td>Lawrence is a web developer who is passionate about technology and programming. He enjoys learning new languages and frameworks and strives to build innovative web applications. While studying at General Assembly as a student, he is consistently improving his skillset for his technical skills.</td>
        <td>Christian Villa has been leading individuals in the technical, clinical , and corporate fields for the last 5 years. His passion for knowledge and creative thinking has allowed him to grow and adapt to any environment while mastering his multi-craft talents. With his training experience, Christian has helped others succeed and grow in their own fields. </td>
        <td>Ex-economic consulting, business geek from Chicago turned full-stack developer based in San Jose.  I am passionate about technology and building products that people like using everyday.  I thrive in Node.js and JavaScript, dabble in Python and Django.  Development is what I’ve recently realized I was born to do.  When I’m not learning new technologies, or coding with friends, I enjoy listening to podcasts, biking and autocross.</td>
    </tr>
</table>







{% endblock %}