{% extends 'base.html' %}
{% block content %}
<form class="post-body" action="{% url 'post_body' %}" method="post">
  {% csrf_token%}
  {{form.as_p}}
  <button class="post-button" type="submit" name="button">Post</button>
</form>

<div class="columns">
  <div class="column is-two-thirds">
    <h3>Posts</h3>
    {% for post in posts%}

    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            {% if post.user == request.user %}
            <figure class="image is-64x64">
              <a href="{% url 'user_prof' pk=post.user.pk %}"><img src="{{ user.profile.image.url }}" alt="Image"
                  style="width:50px;height:50px"></a>
            </figure>
            {% else %}
            <figure class="image is-64x64">
              <a href="{% url 'user_prof' pk=post.user.profile.user.pk %}"><img src="{{post.user.profile.image.url}}"
                  alt="Image" tyle="width:50px;height:50px"></a>
            </figure>
            {% endif %}
          </div>
          <div class="media-content">

            <p class="title is-4">{{post.user}}</p>
            {% comment %} <p class="subtitle is-6">{{post.user}}</p> {% endcomment %}
          </div>

          <div class="level">
            <div class="level-item has-text-centered">
              <div>
                {% if post.user == request.user %}
                <h4><a href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a></h4>
                {% endif %}
              </div>
            </div>
            <div class="level-item has-text-centered">
              <P> ... </P>
            </div>
            <div class="level-item has-text-centered">
              <div>
                {% if post.user == request.user %}
                <h4><a href="{% url 'post_delete' pk=post.pk %}"><i class="fas fa-trash-alt"></i></a></h4>
                {% endif %}
              </div>
            </div>
          </div>






        </div>
        <div class="content">
          <p class="post-text">
            {{post.body}}
          </p>
          <nav class="level is-mobile">
            <div class="level-left">

              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </span>
              </a>
              {{post.like_count}} likes
            </div>
            <form class="" action="{% url 'like_post' pk=post.pk %}" method="post">
              {% csrf_token%}
              <input type="Submit" name="button" value="like"></input>
            </form>
          </nav>
          <br>
          <time datetime="2016-1-1"><small>{{post.time_posted}}</small></time>
          {% for comment in comments%}
          {% if post == comment.post %}
          <div class="box">
            <article class="media">
              <div class="media-left">
                {% if comment.user == request.user %}
                <figure class="image is-64x64">
                  <a href="{% url 'user_prof' pk=post.user.pk %}"><img src="{{ user.profile.image.url }}" alt="Image"
                      style="width:50px;height:50px"></a>
                </figure>
                {% else %}
                <figure class="image is-64x64">
                  <a href="{% url 'user_prof' pk=post.user.profile.user.pk %}"><img
                      src="{{post.user.profile.image.url}}" alt="Image" tyle="width:50px;height:50px"></a>
                </figure>
                {% endif %}
              </div>
              <div class="media-content">
                <div class="content">
                  <div class="level">
                    <div class="level-item level-left">
                      <div>
                        <strong>{{comment.user}}</strong>
                      </div>
                    </div>
                    <div class="level-item level-center">
                      <div>
                        <small>{{comment.time_posted}}</small>
                      </div>
                    </div>

                    <div class="level-right">
                    <div class="level-item">
                      <div>
                        {% if comment.user == request.user %}
                        <h4><a href="{% url 'comment_edit' pk=comment.pk %}"><i class="fas fa-pencil-alt"></i></a></h4>
                        {% endif %}
                      </div>
                    </div>
                    <div class="level-item">
                      <div>
                        {% if comment.user == request.user %}
                        <h4><a href="{% url 'delete_comment' pk=comment.pk %}"><i class="fas fa-trash-alt"></i></a></h4>
                        {% endif %}
                      </div>
                    </div>

                  </div>

                  </div>
                  <p>
                    {{comment.body}}
                  </p>
                </div>
              </div>
            </article>
          </div>
          {% endif %}
          {% endfor %}

          <form class="" action="{% url 'post_comment' pk=post.pk %}" method="post">
            {% csrf_token%}
            {{commentForm.as_p}}
            <button class="button comment-button" type="submit" name="button">Comment</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="column">

    <div class="columns">
      <div class="column"></div>
      <div class="column is-four-fifths">
    <h3 style="margin-bottom: 12px; text-align: center;">Suggested Friends</h3>
    {% for profile in profile %}
        <div class="card" style="margin-bottom: 20px;">
          <div class="columns">
            <div class="column is-half">
              <div class="card-image">
                <figure class="image is-96x96">
                  <a href="{% url 'user_prof' pk=profile.pk %}"><img src="{{ profile.user.profile.image.url }}" alt="Image" style="width:100px;height:100px"></a>
                </figure>
              </div>
            </div>
            <div class="column">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4"> {{profile.user.username}} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}



      </div>
      <div class="column"></div>
    </div>
  </div>
</div>



{% endblock %}
