{% extends 'base.html' %}
{% block content %}

<form class="" action="{% url 'profile_edit'%}" method="post">
{% csrf_token %}
{{profile_form}}
<button type="submit" name="button">Change</button>
</form>
<form class="" action="{% url 'post_body' %}" method="post" style="margin-top: 7%;text-align:center">
{% csrf_token%}
{{form.as_p}}
<button type="submit" name="button">Post</button>
</form>
<h3>Posts</h3>
{% for post in posts%}
<hr />
    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        <p>{{post.body}}</p>
        <p><h6>{{post.time_posted}}</h6></p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Comment</a>
        <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
          <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
      </div>
    </div>
{% endfor %}
<h3>comments</h3>
<hr>
{% for comment in comments%}
{% if post == comment.post %}
<p>{{comment.body}} - {{comment.user}}  ({{comment.time_posted}})</p>
{% endif %}
{% comment %} {% endfor %} {% endcomment %}
<form class="" action="{% url 'post_comment' pk=post.pk %}" method="post">
{% csrf_token%}
{{commentForm.as_p}}
<button type="submit" name="button">Comment</button>
</form>
    {% endfor %}
{% endblock %}