{% extends 'base.html' %}
{% block content %}
    {% if error %}
    <p style="background-color: firebrick; color: white;">{{error}}</p>
    {% endif %}

    <section class="form-section">
        <form action="{% url 'register' %}" method="POST" class="artist-form">
            {% csrf_token %}
            <p>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" autofocus="" required maxlength="25" minlength="2">
            </p>
            <p>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" required maxlength="25" minlength="2">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" required maxlength="25" minlength="2">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" required maxlength="25" minlength="4">
            </p>
            <p>
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" required maxlength="25" minlength="4">
            </p>
            <button type="submit">Register</button>
        </form>
    </section>

{% endblock %}