{% extends 'base.html' %}
{% block content %}
{% for profile in profile %}

<div class="card">
  <div class="media-left">
    <figure class="image is-64x64">
      <a href="{% url 'user_prof' pk=profile.pk %}"><img src="{{ profile.user.profile.image.url }}" alt="Image" style="width:50px;height:50px"></a>
    </figure>
  <div class="profile-body">
  <h1>Name: {{profile.user.first_name}} {{profile.user.last_name}}</h1>
  <h1>Location: {{profile.user.location}}</h1>
</div>
<hr>

{% endfor %}
{% endblock %}
