{% extends 'base.html' %}
{% block content %}

User profile page

<div class="card">
  <div class="media-left">
    <figure class="image is-64x64">
      <a href="{% url 'user_prof' pk=profile.pk %}"><img src="{{ profile.user.profile.image.url }}" alt="Image" style="width:50px;height:50px"></a>
    </figure>
  <div>
  {% if user.pk != profile.user.pk  %}
  <a href="{% url 'mail' pk=profile.pk %}">Message user</a>
  {% endif %}

  <h1>Name: {{profile.user}}</h1>
  <h1>Bio: {{profile.bio}}</h1>
  <h1>Location: {{profile.location}}</h1>
  <h1>Phone number: {{profile.phone}}</h1>
</div>
<hr>

<!-- curently not working, will implement later for specific user profile -->


{% endblock %}
