<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donation</title>
</head>
<body>
        <h2>Donate $5.00 to Devbook</h2>
<form action="{% url 'homepage' %}" method="post">
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ key }}"
        data-description="DevBook Donation"
        data-amount="500"
        data-locale="auto">
</script>
</form>
</body>
</html>